/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

a {
    color: rgb(63, 1, 105);
}

a:hover{ color: rgb(137, 75, 191) } /* CSS link color (red) */

body{
    background: lightblue;
}